# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sdf
/Lib
/Temp
/ipch
*.opensdf
*.suo
*.user
*.aps
Tools/Bin/
Tools/MakeSetConfig/ipch/
Tools/MakeSetConfig/Temp/
Plugins/NPP/Temp/
*.DS_Store
/Bin/
/Include/
